.progressContainer {
    width: 100%;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .stepIndicator {
    color: #121217;
    font-family: Manrope;
    font-size: 16px;
    font-weight: 500;
    width: 82px;
    
  }
  
  .progressBarContainer {
    flex: 1;
    background-color: #dedbe5;
    border-radius: 4px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
    margin-top: 12px;
  }
  
  .progressBar {
    background-color: #121217;
    border-radius: 4px;
    min-height: 8px;
  }
  